.HeaderAppBarAddTemplate {
  z-index: 10 !important;
  width: 100% !important;
}
.BTNAddTemplate{
  margin-left: 266px !important;
}
.customSelect{}
.customSelect > div {
  position: absolute;
  top : 0;
  margin-top: -50px;
}
